@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
body{font-family:Inter,sans-serif}
.error_msg{color:red; font-size:2vw}
#green_head{background-color:#52b788;width:100%;height:35vh;border-bottom-left-radius:1rem;border-bottom-right-radius:1rem;z-index:50}
#title_text{padding-top:7vw;text-align:center;color:#fff;font-size:7vw;margin-left:15vw;margin-right:15vw}
#span1{font-weight:600}
#input_field{width:85vw;border-radius:.5rem;font-size:5vw;font-weight:600;text-align:center;color:#000}
#input_field::placeholder{color:#cdcdcd}
#input_field::-moz-placeholder{opacity:1}
#input_field:-moz-placeholder{color:#cdcdcd}
#input_field:-ms-input-placeholder{color:#cdcdcd}
#input_field:active,#input_field:focus{border-color:#ced4da}
select{-moz-appearance:none;-webkit-appearance:none;appearance:none;border:none}
select::-ms-expand{display:none}
#format_select{background-color:#000;border:none;width:42.5vw;display:inline-block;border-radius:.5rem;text-align:left;color:#fff;font-weight:500;font-size:5.5vw;vertical-align:top;margin-top:2vw}
#submit_btn{border:none;width:42.5vw;display:inline-block;border-radius:.5rem;font-weight:500;font-size:5.5vw;vertical-align:top;margin-top:2vw}
#hand_img{z-index:100;width:50vw;position:relative;top:1vh;margin:0 auto}
#instr_div{margin-top:5vw;text-align:center;font-size:6vw}
#instruction{text-align:justify;margin-left:6vw;margin-right:6vw}
#footer{position:static;bottom:0;background-color:#52b788;width:100%;height:7vh}
#footer_text{color:#fff;text-align:center;padding-top:2vh}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #green_head{background-color:#52b788;width:100%;height:40vh;border-bottom-left-radius:1.5rem;border-bottom-right-radius:1.5rem;z-index:99}
    #title_text{padding-top:3vw;text-align:center;color:#fff;font-size:7vw;margin-left:15vw;margin-right:15vw}
    #input_field{width:70vw;border-radius:.5rem;font-size:5vw;font-weight:600;text-align:center;color:#000}
    #format_select{background-color:#000;border:none;width:35vw;display:inline-block;border-radius:.5rem;text-align:left;color:#fff;font-weight:500;font-size:4.5vw;vertical-align:top;margin-top:2vw}
    #submit_btn{border:none;width:35vw;display:inline-block;border-radius:.5rem;font-weight:500;font-size:4.5vw;vertical-align:top;margin-top:2vw}
    #hand_img{z-index:100;width:35vw;position:relative;top:1vh;margin:0 auto}
    #instr_div{margin-top:3vw;text-align:center;font-size:5.5vw}
    #instruction{text-align:justify;margin-left:6vw;margin-right:6vw;font-size:4.5vw;}
    #footer{position:static;bottom:0;background-color:#52b788;width:100%;height:7vh}
    #footer_text{color:#fff;text-align:center;padding-top:2vh;font-size: 3vw;}
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #green_head{background-color:#52b788;width:100%;height:40vh;border-bottom-left-radius:1.5rem;border-bottom-right-radius:1.5rem;z-index:99}
    #title_text{padding-top:1.5vw;text-align:center;color:#fff;font-size:3vw;margin-left:15vw;margin-right:15vw}
    #input_field{width:60vw;border-radius:.5rem;font-size:2vw;font-weight:600;text-align:center;color:#000}
    #format_select{background-color:#000;border:none;width:30vw;display:inline-block;border-radius:.5rem;text-align:left;color:#fff;font-weight:500;font-size:2vw;vertical-align:top;margin-top:1vw}
    #submit_btn{border:none;width:30vw;display:inline-block;border-radius:.5rem;font-weight:500;font-size:2vw;vertical-align:top;margin-top:1vw}
    #hand_img{z-index:100;width:10vw;position:relative;top:1vh;margin:0 auto;margin-left: 4vw;}
    #instr_div{margin-top:2vw;font-size:2vw;}
    #instruction{margin-left:20vw;margin-right:20vw;font-size:2vw;}
    #footer{position:static;bottom:0px;background-color:#52b788;width:100%;height:6vh}
    #footer_text{color:#fff;text-align:center;padding-top:2vh;font-size: 1vw;}
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #green_head{background-color:#52b788;width:100%;height:40vh;border-bottom-left-radius:1.5rem;border-bottom-right-radius:1.5rem;z-index:99}
    #title_text{padding-top:1.5vw;text-align:center;color:#fff;font-size:2.5vw;margin-left:15vw;margin-right:15vw}
    #input_field{width:60vw;border-radius:.5rem;font-size:2vw;font-weight:600;text-align:center;color:#000}
    #format_select{background-color:#000;border:none;width:30vw;display:inline-block;border-radius:.5rem;text-align:left;color:#fff;font-weight:500;font-size:2vw;vertical-align:top;margin-top:1vw}
    #submit_btn{border:none;width:30vw;display:inline-block;border-radius:.5rem;font-weight:500;font-size:2vw;vertical-align:top;margin-top:1vw}
    #hand_img{z-index:100;width:10vw;position:relative;top:1vh;margin:0 auto;margin-left: 4vw;}
    #instr_div{margin-top:2vw;font-size:2vw;}
    #instruction{margin-left:20vw;margin-right:20vw;font-size:2vw;}
    #footer{position:static;bottom:0px;background-color:#52b788;width:100%;height:6vh}
    #footer_text{color:#fff;text-align:center;padding-top:2vh;font-size: 1vw;}
 }